Hi {{ user.fullname }},
<br/>
<br/>
Someone has recently attempted to login to the Nectar Dashboard with email: {{ user.mail }}
<br/>
We noticed this because your institution appears to have issued a new AAF identity for you and as a result that requires some manual fixing on our side.
<br/>
<br/>
So, can I please ask you to confirm a couple of things:
<br/>
<br/>
- Have you previously had an account on Nectar?
<br/>
- If so, do you recall roughly when you last used Nectar? Or do you recall any other details of your previous account?
<br/>
e.g. Any project names you were a member of, any instance names you may have used, etc.
<br/>
<br/>
Regards,
<br/>
Nectar Cloud team
