Hi {{ user.fullname }},
<br/>
<br/>
We recently had an attempted login to the ARDC Nectar Research Cloud Dashboard with the email address: {{ user.mail }}
<br/>
This has been flagged because your AAF identity for your institution account has changed.
<br/>
<br/>
For security purposes and so we can correctly link your account, please confirm the following details:
<br/>
1. Do you remember previously logging into the Nectar Cloud Dashboard?
<br/>
2. Please provide your best estimate of the last date you used the Nectar Cloud.
<br/>
3. Please list any identifying information from your project(s) you can remember, such as project names and any instance names you may have used.
<br/>
<br/>
Kind Regards,
<br/>
ARDC Nectar Research Cloud team
