<html>
  <head></head>
  <body>
    <p>Hi {{ user.full_name }},</p>

    <p>Welcome to the Nectar Research Cloud. As a new user, we've created a trial
      project for you called {{ project.name }}. You have been allocated 6 months
      of core hours on the cloud which you can use to launch a single core instance or 3 months if you launch dual core
      instances. You have also been allocated 10GB of object store quota.</p>

    <p>Once you reach 80% of your core hours allocation, we'll send you an email to
      let you know. If you would like to continue to use the Research Cloud you
      have two options:</p>
    <ol>
      <li>Join an existing research cloud project
	- Speak to the project manager for access, you will need to notify them
	of your username {{ user.name }}</li>
      <li>Request to <a href="https://support.ehelp.edu.au/support/solutions/articles/6000068044-managing-an-allocation">create your own project</a>
	- You will have the option of converting your project trial into a project
	allocation at this stage.</li>
    </ol>

    <p>As per the <a href="https://dashboard.rc.nectar.org.au/terms/">terms and conditions</a>
      of use that you agreed to upon initial log in to the Research Cloud, please
      ensure that you use the Research Cloud in a secure manner, following all
      <a href="https://support.ehelp.edu.au/support/solutions/folders/6000203455">security guidelines and policies</a>.</p>

    <p>Self Help, help desk support, service announcements and support forums for the
      Research Cloud can be accessed from the <a href="http://support.ehelp.edu.au">ARDC Nectar Cloud Support portal</a>.</p>

    <p>The Nectar Research Cloud also provides <a href="https://support.ehelp.edu.au/support/solutions/articles/6000156761-learning-and-training-resources">online self paced tutorials and regular live virtual training</a>
for new and existing Nectar Cloud users.</p>

    <p>Thanks,</br>
      Nectar Research Cloud Team</p>
  </body>
</html>
