<p>Dear {{ user.full_name }},</p>
</br>
<p>Welcome to the ARDC Nectar Research Cloud. As a new user, we've created a trial
  project for you called {{ project.name }}. You have a small amount of resource quota to try basic tasks such as launching instances and running applications.
  Learn more about your project trial <a href="https://support.ehelp.edu.au/support/solutions/articles/6000171494-project-allocation-expiry-and-renewal">here</a>.</p>
</br>
<p>Once your project trial ends, you have two options:</p>
<ol>
  <li>Join an existing research cloud project
	- Speak to the project manager for access, you will need to notify them
	of your username {{ user.name }}</li>
  <li>Request to <a href="https://support.ehelp.edu.au/support/solutions/articles/6000068044-managing-an-allocation">create your own project</a>
	- You will have the option of converting your project trial into a project, when making a request via our allocation form.</li>
</ol>
<br />
<p>If you need help while using the Cloud, our Nectar Cloud <a href="https://support.ehelp.edu.au/">Support Site</a> is where you can submit support tickets, find useful resources such as our tutorial site
  and knowledge base articles, and sign up for training. We also have a <a href="https://tutorials.rc.nectar.org.au/prereading/01-overview"> pre-reading tutorial </a> for those new to the Cloud.</p>
  <br/>
  <br/>
<p> Please ensure that you use the Research Cloud in a <i>secure</i> manner, following all
  <a href="https://support.ehelp.edu.au/support/solutions/folders/6000203455">security guidelines and policies</a>. This is per the <a href="https://dashboard.rc.nectar.org.au/terms/"> terms and conditions</a> of use that you agreed to, upon initial login to the Cloud.</p>
  <br/>
  <p> If you have any questions, you can reply to this email.</p>

</br>
</br>
<p>Kind regards,</br>
ARDC Nectar Research Cloud Team</p>
